/*FOOTER*/
footer {
    background-color: rgb(177, 63, 72);
    height: 150px;
    float: left;
    width: 100%;
    margin-top: 10%;
    padding-top: 10px;
    position: relative;
    bottom: 0;
}

.redes {
    list-style: none;
    float: left;
    width: 19%;
    color: rgb(221, 165, 169);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.tamIcoRed {
    font-size: 1.2rem
}

.primero {
    list-style: none;
    float: left;
    margin-left: 20%;
    width: 20%;
    color: rgb(221, 165, 169);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.primerIco {
    list-style: none;
    float: left;
    margin-left: 22%;
    width: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icoRedes {
    list-style: none;
    float: left;
    margin-left: 9%;
    width: 10%
}

footer h2 {
    margin-left: 48%;
    width: 12%
}

.cont {
    color: rgb(221, 165, 169);
    text-align: center;
}