body {
    /*background-color: rgb(246, 236, 236);*/
    background-color: #e4f9f5;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template-areas: "logo header iconos" "logo nav iconos" "content content content" "footer footer footer";
    grid-template-columns: 1.5fr 4fr 1.5fr;
    grid-template-rows: 60px 60px 1fr 150px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo {
    /* background-color: rgb(158, 65, 73);*/
    background-color: #11999e;
    grid-area: logo;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header {
    /*background-color: rgb(158, 65, 73);*/
    background-color: #11999e;
    grid-area: header;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.iconos {
    /*background-color: rgb(158, 65, 73);*/
    background-color: #11999e;
    grid-area: iconos;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navbar {
    /*background-color: rgb(158, 65, 73);*/
    background-color: #11999e;
    grid-area: nav;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content {
    grid-area: content;
    position: unset;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer {
    /*background-color: rgb(177, 63, 72);*/
    background-color: #11999e;
    grid-area: footer;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.LogoImagen {
    width: 60%;
    height: 30%
}

input.bus {
    padding: 9px 10px 9px 10px;
    background-color: rgba(233, 142, 142, 0.466);
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.609);
    width: 45%;
    padding: 0.6rem;
    text-align: center;
    transition: 0.2s;
    font-size: 18px;
}

    input.bus:hover {
        width: 50%;
        background-color: rgba(231, 238, 228, 0.294);
        border-color: rgb(0, 0, 0);
        color: rgb(3, 3, 3);
        box-shadow: 0 0 5px;
    }

.nav {
    padding: 22px 0 0 0;
}

    .nav li a {
        color: rgb(238, 216, 216);
        text-decoration: none;
        /*background-color: rgba(82, 28, 28, 0.959);*/
        background-color: #40514e;
        padding: 8px 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: block;
        font-size: 22px;
        text-align: initial;
        border-radius: 20px 20px;
    }

    .nav .name {
        padding-right: 0.5rem;
    height: 78px;
}

        .nav .name:hover {
            color: black;
        }

    .nav ul li a:hover {
        /*background-color: rgb(241, 194, 197);*/
        background-color: #30e3ca;
        color: rgb(0, 0, 0);
    }

    .nav > li {
        float: left;
    }

    .nav li ul {
        display: none;
        position: absolute;
        margin: 0;
        padding-left: 0;
    }

    .nav li:hover > ul {
        display: block;
    }

.iconos .cart {
    font-size: 1.6rem;
    text-decoration: none;
    /*color: rgba(82, 28, 28, 0.959);*/
    color: #40514e;
}

.iconos .user {
    font-size: 1.6rem;
    margin-right: 1.5rem;
    /*color: rgba(82, 28, 28, 0.959);*/
    color: #40514e;
}

.name {
    text-align: initial;
}

/*FOOTER*/
.contactenos {
    /*color: rgb(221, 165, 169);*/
    color: #30e3ca;
    text-align: left;
}
.redes i {
    list-style: none;
    justify-content: left;
    width: 25%;
    /*color: rgba(82, 28, 28, 0.959);*/
    color: #40514e;
    padding-bottom: 8px;
}

.tamIcoRed {
    font-size: 1.2rem
}

footer h2 {
    margin-left: 48%;
    width: 12%
}

ul li {
    list-style: none;
}

/*PARA LOS GRIDVIEW*/
.GridViewStyled {
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    .GridViewStyled td a {
        border-radius: 20px 20px 20px 20px;
        background-color: #AE4750;
        font-weight: bold;
        text-decoration: none;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center
    }

.footerTable td {
    border-radius: 0 0 20px 20px;
}

.footerTable td {
    width: 30px;
}

.footerTable a {
    border-radius: 20px 20px 20px 20px;
    background-color: #AE4750;
    font-weight: bold;
    text-decoration: none;
    text-align: center
}

.footerTable span {
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    display: block;
    text-align: center
}

.headerTable th:first-of-type {
    border-radius: 20px 0 0 0;
}

.headerTable th:last-of-type {
    border-radius: 0 20px 0 0;
}

.btnASP {
    outline: none;
    height: 100%;
    /*background-color: rgba(174, 64, 74, 0.84);*/
    /* background-color: rgba(174, 64, 74, 0.84);*/
    background-color: #11999e;
    border: none;
    border-radius: 10px;
    color: white;
    height: 40px;
    font-size: 18px;
}

.txtASP {
    outline: none;
    padding: 0.3rem;
    border-radius: 20px 20px;
    /*background-color: rgba(235, 149, 149, 0.308);*/
    /*background-color: rgba(226, 98, 98, 0.548);*/
    background-color: #11999e;
    /*border: solid 2px rgb(235, 149, 149);*/
    height: 20px;
    border: none;
}

/*PARA LAS FLECHITAS DEL INPUT NUMBER*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
/*input[type=number] {
    -moz-appearance: textfield;
}*/

/*PLACEHOLDER COLOR*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}